#
# Ansible managed
#
# http://prometheus.io/docs/operating/configuration/
#
global:
  evaluation_interval: {{ prometheus.evaluation_interval }}
  scrape_interval: {{ prometheus.scrape_interval }}
  scrape_timeout: {{ prometheus.scrape_timeout }}
  external_labels: {{ prometheus.external_labels }}

scrape_configs: {{ prometheus.scrape_configs }}

rule_files:
  - /etc/prometheus/rules/*.yaml

alerting:
  alertmanagers: {{ prometheus.alertmanagers | from_yaml }}
